{% extends 'frontend/index.html' %}
{% load utils %}



{% block form %}
<div class="container-fluid">
	<div class="form-block mx-auto my-2">
		<form method="post">
		<h4 class="text-center">Change Password</h4>
		{% csrf_token %}

{% for field in form %}
    <div class="form-group">
      <p>{{ field.label_tag }}</p>
      {{ field|add_attr:"class:form-control" }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
		{% endfor %}
    </div>
{% endfor %}
			<div class="my-2">
		{% for field in form %}
		{% if field.help_text %}
        <small>{{ field.help_text }}</small>
        {% endif %}
		{% endfor %}
		</div>


			<button type="submit" class="btn btn-main ">Update Password</button>
		</form>
	</div>
</div>


{% endblock %}